@model IEnumerable<BaiTap.Models.SanPham>
<head>

    <style>
        .Timkiem {
            width: 250px;
            text-align: center;
        }

        .table td {
            vertical-align: middle; /* Canh giữa theo chiều dọc */
            /*text-align: center;*/ /* Canh giữa theo chiều ngang */
        }

        .card.recent-sales {
            width: 100%; /* Đảm bảo rằng thẻ card chiếm toàn bộ chiều rộng */
        }

        .table {
            width: 100%; /* Đảm bảo rằng bảng chiếm toàn bộ chiều rộng */
        }

        .card-body {
            display: flex;
            flex-direction: column;
            width: 100%; /* Đảm bảo rằng thẻ card-body chiếm toàn bộ chiều rộng */
        }

        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: left;
            vertical-align: middle;
        }
    </style>
</head>
<link href="~/Content/assets/css/style.css" rel="stylesheet" />
<link href="~/Content/assets/css/modaLocSP.css" rel="stylesheet" />
<main id="main" class="main" style="width:100%">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">

                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <div class="Timkiem">
        <form action="@Url.Action("TimKiem", "QuanLySanPham")" method="get">
            <div class="input-group">
                <input type="text"
                       class="form-control"
                       name="name"
                       placeholder="Tim kiem..." />
                <button type="submit" value="Tim">
                    <div class="input-group-append">
                        <span class="input-group-text bg-transparent text-primary">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </button>
            </div>
        </form>
    </div>
    <br />
    <div>
        <div class="form-actions no-color">
            <button type="button" class="btn btn-primary LocSP" data-toggle="modal" data-target="#LocSanPhamModal">
                Lọc sản phẩm
            </button>
            <div class="modal fade" id="LocSanPhamModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Lọc sản phẩm</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <br />
    <div>
        <table>
            <tr>
                <th>
                    Sắp xếp theo
                </th>
                <th style="padding-left:50px">
                    @Html.ActionLink("Ban chay", "Banchay1", "QuanLySanPham")
                </th>
                <th style="padding-left:50px">
                    <a href="#">Mới</a>
                </th>
                <th style="padding-left:50px">
                    @Html.ActionLink("Gia tang dan", "GiaTang", "QuanLySanPham")
                </th>
                <th style="padding-left:50px">
                    @Html.ActionLink("Gia Giam dan", "GiaGiam", "QuanLySanPham")

                </th>
                <th style="padding-left:50px">
                    @Html.ActionLink("So sanh", "Sosanh", "QuanLySanPham")

                </th>
            </tr>
        </table>

    </div>

    <br />
    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns tim de thay doi chieu rong cua giao dien ben phai -->
            <div class="col-lg-8">

                <div class="row">

                    <!-- Recent Sales -->


                    <table class="table table-borderless datatable" style="font-size: 14px">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(n => n.TenSanPham)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(n => n.Soluong)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(n => n.SoLuongDaBan)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(n => n.Gia)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(n => n.TongDoanhThu)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(n => n.HangID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(n => n.DanhMucID)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(n => n.HinhAnh)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenSanPham)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Soluong)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SoLuongDaBan)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TongDoanhThu)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HangID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DanhMucID)
                                    </td>

                                    <td class="Anh">
                                        @if (!string.IsNullOrEmpty(item.HinhAnh))
                                        {
                                            <img src="@item.HinhAnh" alt="Product Image" width="100" height="100" />
                                        }
                                        else
                                        {
                                            <p>Không tìm thấy hình ảnh</p>
                                        }
                                    </td>

                                    <td>
                                        <div class="form-actions no-color">
                                            <button type="button" class="btn btn-primary edit-button" data-id="@item.SanPhamID" data-toggle="modal" data-target="#SuaSanPhamModal">
                                                Sửa
                                            </button>
                                            <div class="modal fade" id="SuaSanPhamModal" tabindex="-1" role="dialog">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="SuaSanPhamTitle">Sửa sản phẩm</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <!-- Nội dung được tải động qua AJAX -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary xem view-button" data-id="@item.SanPhamID">Chi Tiet</button>
                                        <div class="modal fade" id="TT" tabindex="-1" role="dialog">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="ChiTiet">Thong tin san pham</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- Content loaded dynamically via AJAX -->
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @Html.ActionLink("Xóa", "Xoa", new { id = item.SanPhamID })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
        <
        <div class="form-actions no-color">
            <button type="button" class="btn btn-primary Themmoi" data-toggle="modal">
                Thêm sản phẩm
            </button>
            <div class="modal fade" id="ThemMoi" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ThemTonKho">Thong tin san pham</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Content loaded dynamically via AJAX -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
</main><!-- End #main -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        // Mở modal và tải nội dung thông qua AJAX
        $('.edit-button').click(function() {
            var productId = $(this).data('id');
            $.ajax({
                url: '@Url.Action("Sua", "QuanLySanPham")/' + productId, // URL action method của bạn
                method: 'GET',
                success: function(data) {
                    $('#SuaSanPhamModal').find('.modal-body').html(data);
                    $('#SuaSanPhamModal').modal('show');
                }
            });
        });

        // Xử lý form submission
        $('#SuaSanPhamModal').on('click', '#Luu', function() {
            $('#SuaSanPhamFrom').submit();
        });
    });
    $(document).ready(function () {
        // Open the view modal and load product information
        $('.view-button').click(function () {
            var productId = $(this).data('id');
            $.ajax({
                url: '@Url.Action("XemChiTiet", "QuanLySanPham")/' + productId,
                method: 'GET',
                success: function (data) {
                $('#TT').find('.modal-body').html(data);
                $('#TT').modal('show');
                }
                });
                });
                });
                $(document).ready(function () {
                // Mở modal và tải nội dung thông qua AJAX
                $('.Themmoi').click(function () {
                $.ajax({
                url: '@Url.Action("ThemSanPham", "QuanLySanPham")', // URL action method của bạn
                method: 'GET',
                success: function (data) {
                $('#ThemMoi').find('.modal-body').html(data);
                $('#ThemMoi').modal('show');
                }
                });
                });

                // Xử lý form submission
                $('#ThemMoi').on('click', '#Luu', function() {
                $('#themSanPhamForm').submit();
                });
                // Handle form submission for editing
                });

                $(document).ready(function() {
                // Mở modal và tải nội dung thông qua AJAX
                $('.LocSP').click(function() {
                $.ajax({
                url: '@Url.Action("FromLoc", "QuanLySanPham")', // URL action method của bạn
                method: 'GET',
                success: function(data) {
                $('#LocSanPhamModal').find('.modal-body').html(data);
                $('#LocSanPhamModal').modal('show');
                }
                });
                });

                // Xử lý form submission
                $('#LocSanPhamModal').on('click', '#Loc', function() {
                $('#LocSanPhamModal').submit();
                });
                });
</script>




