@model BaiTap.Models.TaiKhoanKH

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main" style="width:100%">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div>
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-8" style="width:1200px">
                <div>
                    <h4>TaiKhoanKH</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.KhachHangID)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.KhachHangID)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TenDangNhap)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TenDangNhap)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MatKhau)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MatKhau)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TrangThai)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TrangThai)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" /> |
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    }
                </div>
                </div>
            </div>
        </section>
        </main>

