
@model IEnumerable<BaiTap.Models.TonKho>
<h2>SanPhamTonKho</h2>

<head>
    <style>
        .modal-dialog-centered {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: calc(100% - 1rem);
        }

        .modal-content {
            border-radius: 8px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        }

        .modal-header {
            background-color: #007bff;
            color: white;
            border-bottom: none;
        }

        .modal-footer {
            border-top: none;
        }

        .modal {
            display: none;
        }


        .sua {
            padding-right: 30px;
        }

        .xem {
            padding-right: 30px;
        }
    </style>
</head>
<main id="main" class="main" style="width:100%">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">

                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div>
        <table>
            <tr>
                <th style="padding-left:50px">
                    @Html.ActionLink("Nhap kho", "PhieuNhapKho", "QuanLyTonKho")
                </th>

                <th style="padding-left:50px">
                    @Html.ActionLink("Xuất kho", "PhieuXuatKho", "QuanLyTonKho")
                </th>
            </tr>
            <tr>
                <th>
                    Sắp xếp theo
                </th>
                <th style="padding-left:50px">
                    @Html.ActionLink("Số lượng tồn giảm", "SapxepGiam", "QuanLyTonKho")
                </th>

                <th style="padding-left:50px">
                    @Html.ActionLink("Số lượng tồn tăng", "SapxepTang", "QuanLyTonKho")
                </th>
                <th style="padding-left:50px">

                </th>
            </tr>
        </table>

    </div>
    <br />
    <div>
        @using (Html.BeginForm("LocNgay", "QuanLyTonKho", FormMethod.Get))
        {
            <did class="form-group">
                <label for="Time">Ngày bắt đầu </label>
                <input type="date" name="Time" class="form-control" style="width:250px" />
            </did>
            <div class="form-group">
                <label for="enddate">ngày kết thúc</label>
                <input type="date" name="enddate" class="form-control" style="width:250px" />
            </div>
            <button type="submit" class="btn btn-primary">tìm</button>
        }
    </div>
    <br />
    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns tim de thay doi chieu rong cua giao dien ben phai -->
            <div class="col-lg-8" style="width:1200px">

                <div class="row">

                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">danh sach kho hang </h5>

                                <table class="table table-borderless datatable" style="font-size: 14px">

                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SanPhamID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SanPham.TenSanPham)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SoLuongTon)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.NgayCapNhat)
                                        </th>
                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SanPhamID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SanPham.TenSanPham)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SoLuongTon)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NgayCapNhat)
                                            </td>
                                            <td>
                                                <!-- Button to trigger modal -->
                                                <button type="button" class="btn btn-primary sua edit-button" data-id="@item.TonKhoID">
                                                    Sửa thông tin
                                                </button>

                                                <!-- Modal Structure -->
                                                <div class="modal fade" id="Sua" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="SuaTonKho">Sửa thông tin tồn kho</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <!-- Content loaded dynamically via AJAX -->
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                                <button type="button" class="btn btn-primary" id="Sua">Cập nhật</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary xem view-button" data-id="@item.TonKhoID">Thong tin san pham</button>
                                                <div class="modal fade" id="TT" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="ChiTiet">Thong tin san pham</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <!-- Content loaded dynamically via AJAX -->
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }


                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <div class="form-actions no-color">
        <button type="button" class="btn btn-primary Themmoi" data-toggle="modal">
            Thêm sản phẩm
        </button>
        <div class="modal fade" id="ThemMoi" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ThemTonKho">Thong tin san pham</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                       
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</main><!-- End #main -->
<!-- Button to trigger modal -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        // Open the edit modal and load product information
        $('.edit-button').click(function() {
            var productId = $(this).data('id');
            $.ajax({
                url: '@Url.Action("SuaTonKho", "QuanLyTonKho")/' + productId,
                method: 'GET',
                success: function(data) {
                    $('#Sua').find('.modal-body').html(data);
                    $('#Sua').modal('show');
                }
            });
        });

        // Open the view modal and load product information
        $('.view-button').click(function() {
            var productId = $(this).data('id');
            $.ajax({
                url: '@Url.Action("XemThongTin", "QuanLyTonKho")/' + productId,
                method: 'GET',
                success: function(data) {
                    $('#TT').find('.modal-body').html(data);
                    $('#TT').modal('show');
                }
            });
        });
        // Mở modal và tải nội dung thông qua AJAX
        $('.Themmoi').click(function() {
            $.ajax({
                url: '@Url.Action("Nhap", "QuanLyTonKho")', // URL action method của bạn
                method: 'GET',
                success: function(data) {
                    $('#ThemMoi').find('.modal-body').html(data);
                    $('#ThemMoi').modal('show');
                }
            });
        });

        // Xử lý form submission
        $('#ThemMoi').on('click', '#Luu', function() {
            $('#themSanPhamForm').submit();
        });
        // Handle form submission for editing
        $('#Sua').on('click', '#Sua', function() {
            $('#suaTonKhoForm').submit();
        });
    });
</script>
